*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
    height: auto;
    padding: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

div{
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.422);
}

label{
    margin-bottom: -8px;
    padding-left: 15px;
}

input{
    padding: 10px;
    border-radius: 999px;
    border: none;
    border: 2px solid rgb(110, 109, 109);
    width: 100%;
}

input:focus{
    color: rgb(130, 130, 130);
    border: none;
}

h2{
    width: 100%;
    text-align: center;
}

button{
    padding: 10px;
    border-radius: 999px;
    background-color: #090909;
    color: #ffffff;
    transition: all 200ms ease-in-out;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
}

button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #090909;
}